@font-face {
font-family: "PT Sans";
src: url("../fonts/ptsans.woff2") format("woff2"),
url("../fonts/ptsans.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "PT Sans";
src: url("../fonts/ptsansbold.woff2") format("woff2"),
url("../fonts/ptsansbold.woff") format("woff");
font-weight: 700;
font-style: normal;
}

/* Осуществить разделение блоков комментариями для облегчения выполнения,
чтоб не запутаться во множестве блоков*/

/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;  
  --basic-silver: silver; 
  --basic-light-silver: #888888; 

  --basic-light-gray: #EEEEEE;    
  
  --light-gray:  #f2f2f2;
  --basic-gray:  #333333;
  --middle-gray: #666666;

  
  --basic-blue:  #81B3D2;
  --middle-blue: #669EC0; 
  --dark-blue:   #5496BD;
  
  --light-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;
}

body {
	margin: 0px;	
	background-color: #888888;
}

.main-header {
}
.logo {
	position: absolute;
	top: 0px;
	left:50%; 
	margin-left:-50px;
	z-index:1000;
}
.big-pict {
	height:   509px;
	background: 
		        url(../img/welcome.svg) center no-repeat,
		        url(../img/shape.svg)   bottom no-repeat,
				url(../img/sedona.jpg)  50% no-repeat; 
/*	background-size: 1200px 509px auto;  */     
	position: relative;
}
.big-pict-dec {
    position: absolute; 
	margin: auto; 
	left: 0; 
	top: 95px; 
	bottom: 0; 
	right: 0;	
}
.page-body {
	align-content: start;
	min-height: 100%;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-black);
	text-transform: uppercase;
	line-height: 1.5;
	height: 100%; 
	padding-top: 0px;	
}
.site-navigation {
	display: flex;
	justify-content: space-evenly;
	padding: 	15px;
}
.main-header-logo {
	order: 1;
	outline-offset: -5px;
}
.visually-hidden {
	visibility: hidden; 
	height: 0px;
}
a {
  	text-decoration: none;
}
.main-container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: var(--basic-white);
}
.filter-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.filter-box {
	padding: 20px;
	padding-left: 80px;
	text-align: left;
}
.filter-box li {
	text-align: left;
}
.hotel-container {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.hotel-descr-container {
	display: grid;
	grid-template-columns: 1fr 1fr 4fr;	
	padding-bottom: 20px;
}

.item-1 {
	grid-column: 1 / span 3;
}

ul {
	list-style: none;
    padding: 0; /* Убираем поля */
    margin-left: 0px; /* Отступ слева */
	margin-top: 0; /* Отступ сверху */
    margin-bottom: 0; /* Отступ снизу */
}

li {
	text-align: center;	
}
.suggest-list {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
	list-style: none;
    padding: 0; /* Убираем поля */
    margin-left: 0; /* Отступ слева */
	margin-top: 0; /* Отступ сверху */
    margin-bottom: 0; /* Отступ снизу */	
}

.site-navigation {
}

.site-navigation .nav-selected a {
	color: var(--light-brown);
}

.site-navigation a {
  	font-size: 14px;
	color: inherit;
  	background-color: transparent;
	font-weight: 700;	
}
.site-navigation a:hover {
	color: var(--basic-blue);
}
.site-navigation a:active {
	color: inherit;	
	opacity: 0.3;
}

.site-title {
  	font-size: 21px;
  	line-height: 1.2; 
  	font-weight: 700;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 300px;
	padding-right: 300px;
}

.five-reson-text {
  	font-size: 14px;
  	font-weight: 400;
  	color: var(--basic-gray);
	padding-bottom : 40px;
}
.reason-container {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
}			
.reason1 {
	grid-column: 1 / span 3; 
	grid-row: 1; 
	background-color: #39a4c4;
}			
.reason2 {
	grid-column: 1 / span 3; 
	grid-row: 2; 
	background-color: #39a4c4;
}	
.reason345-box.reason12-box {
	color: inherit;
    background-color: var(--basic-light-gray);	
}			
.reason1-features {
	padding: 30px;
	text-align: center;
	background-color: white;
}
.footer-container {
	display: flex;
	justify-content: space-around;	
	padding-top: 30px;
    padding-bottom: 30px; 
}
.reason12-box {
  	color:            var(--basic-white);	
  	background-color: var(--basic-blue);
  	width:  400px;
	padding-top: 35px; 
	padding-bottom: 40px;
}
.reason12-box-title {
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	line-height: 1; /*21px;*/
	padding-bottom: 10px;
}
.reason-number {
    padding-left: 90px;
	padding-right: 90px;
}
.reason-descr {
    padding: 20px;
	padding-left: 40px;
	padding-right: 40px;	
}
.reason12-box-text {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 80px;		
}
.suggest-box {
	color:            var(--basic-black);	
	background-color: var(--basic-white);	
	width:  400px;
	text-align: center;
	padding: 12px;
}
.suggest-box-title {
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	line-height: 1; /*21px;*/
	letter-spacing: 0px;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}
.suggest-box-text {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0px;
	text-align: center;
	padding-left: 60px;
	padding-right: 60px;		
}
.app-title {
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;  
	letter-spacing: 0px;
	text-align: center;
}
.appointment {
	text-align: center;
}
.appointment-info {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0px;
	text-align: center;
	padding-left: 400px;
	padding-right:400px;
	padding-bottom: 20px;
}
.contacts,
.contacts a {
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2; /*26px;*/
	letter-spacing: 0px;
	color: inherit;
	text-align: center;
}
.social-box {
	width: 46px;
/*	height: 48px;  */
	background-color: var(--basic-blue);
	margin: 0 3px;
    padding-top: 15px;
}
.social-box:hover {
	background-color: var(--middle-blue);
}
.social-box:active {
	background-color: var(--dark-blue);
}
.copyright{
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5; /*26px;*/
	letter-spacing: 0px;
	text-align: center;
}
.social-container {
	display: flex;
	justify-content: space-between;	
	background-color: var(--basic-white);
}
.academy-link-container {
	display: flex;
	align-items: center;
    justify-content: center;
}
.filters {
	background-image: url('../img/filter-background.jpg');
	background-size: 100%;
}
.filter-group-caption {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: 0px;
	color: var(--basic-white);
}
.filter-item-label {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0px;
	color: var(--basic-white);	
}
.sorting {
	padding: 40px; 
    padding-left: 70px;	
	padding-bottom: 20px;
	text-align: left;   
}
.sorting .arrow {
	float: 		right;	
	padding: 	2px;
	width:		15px; 
	height:		41px; 		
	background-repeat:		no-repeat;
}
.sorting .arrow.up {
	background-image: 	url(../img/arrow-up-gray.png);   
}	
.sorting .arrow.down {
	background-image: 	url(../img/arrow-down-gray.png);   
}
.sorting .arrow.up:hover {
	background-image: 	url(../img/arrow-up-black.png);   
}	
.sorting .arrow.down:hover {
	background-image: 	url(../img/arrow-down-black.png);   
}
.sorting .arrow.up:active {
	background-image: 	url(../img/arrow-up-blue.png);   
}	
.sorting .arrow.down:active {
	background-image: 	url(../img/arrow-down-blue.png);   
}
.sorting .arrow.down.act {
	background-image: 	url(../img/arrow-down-blue.png);   
}
.hotels {
	padding: 40px;
}
.found {
	font-weight: 700;
	font-size: 21px;
	line-height: 1.2;
	padding-right: 30px;
}
.sort-label {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}
.sort-by {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;  /*18px;*/
	opacity: 0.3;
    text-decoration: none;
    border-bottom: 1px dotted #81B3D2;	
}
.sort-by-selected {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5; 	
	color: var(--basic-blue);
}
.hotel-name {
	font-weight: bold;
	font-size: 21px;
	line-height: 1.2; /*26px;*/
	color: inherit;
	text-align: left;
}
.hotel-name:hover {
	color: var(--basic-blue);
}
.hotel-name:active {
	color: var(--basic-black);
	opacity: 0.3;
}
.hotel-category {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5; /*21px;*/
	color: var(--basic-gray);
	text-align: left;
}
.hotel-price {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5; /*21px;*/
	color: var(--basic-gray);
	text-align: right;
}
.hotel-details {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.5; /*21px;*/
	color: var(--basic-white);
	background-color: var(--basic-blue);
	text-transform: inherit;
}
.hotel-booking {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.5;  /*21px;*/
	color: var(--basic-white);
	background-color: var(--light-brown);
	text-transform: inherit;
}
.rating {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;  /*21px;*/
	color: var(--middle-gray);
	background-color: var(--light-gray);
}
.sort-by:hover {
	color: var(--basic-blue);
	text-decoration: underline;
	opacity: 1;	
}
.sort-by:active {
	color: var(--basic-black);
	font-weight: 400;
	opacity: 1;
	text-decoration: none;
}
.sort-by:focus {
	color: var(--basic-blue);
	text-decoration: none;
	opacity: 1;	
}
.hotel-details:hover {
	background-color: var(--middle-blue);	
}
.hotel-details:active {
	background-color: var(--dark-blue);
	color: var(--basic-silver);
}
.hotel-booking:hover {
	background-color: var(--middle-brown);	
}
.hotel-booking:active {
	background-color: var(--dark-brown);
	color: var(--basic-silver);
}
.find-hotel-button {
	padding: 30px;
	background-color: var(--light-brown);
	font-size: 21px;
	line-height: 1.2;  /*26px;*/
	color: var(--basic-white);
	font-weight: 700;
	text-transform: inherit;
    margin-left: 340px;
	margin-right: 340px;
}
.find-hotel-button:hover {
	background-color: var(--middle-brown);
}
.find-hotel-button:active {
	background-color: var(--dark-brown);
	color: var(--basic-silver);
}
.five-reason-container{
	display: grid;
	grid-template-columns: 400px 400px 400px;	
	grid-template-rows: 256px 256px 256px 256px;	
}
.reason1-pict {
	grid-column: 2 / span 2;
	grid-row: 1;
}
.reason2-pict {
	grid-column: 1 / span 2;
	grid-row: 3;
}
.star-container {
	height: 17px;
	background-image: url(../img/star.svg);  
}	
.stars4 {
    width:				75px;
}
.stars3 {
    width:				55px;
}
.stars2 {
    width:				35px;
}
.simbol-academy {
	background-image: 	url(../img/simbol-academy-black.png);
	width:				115px; 
	height:				41px; 
}
.simbol-academy:hover {
	background-image: 	url(../img/simbol-academy-blue.png);
}
.simbol-academy:active {
	background-image: 	url(../img/simbol-academy-gray.png);
}